input::-ms-track {
    appearance: none;
    background: transparent;
    border: transparent;
}

input::-moz-range-track {
    appearance: none;
    background: transparent;
    border: transparent;
 }

input:focus::-webkit-slider-runnable-track {
    appearance: none;
    background: transparent;
    border: transparent;
 }

.input::-ms-thumb {
    pointer-events: all;
    cursor: grab;
}

.input::-moz-range-thumb {
    pointer-events: all;
    cursor: grab;
}

.input::-webkit-slider-thumb {
    pointer-events: all;
    cursor: grab;
}